

.title {
    margin: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #263238;
    font-size: 24px;
    font-weight: 500;
}
.table{
    max-width: 1000px;
    margin:20px;
    background-color: #b7c4fdad;
    
}