@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap');
.detail{
    background-color:#b7c4fd36;
    width: 100%;
    text-align: center;
    padding: 5% ;
    display : block;
    // display: flex;
}


.detail-icon{
    font-size: 3rem;
    color: #7586d1b6;
    text-align: center;
}
.detail-image{
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    object-fit: cover;

}
p.detail-text {
    font-size: 1rem;
    color:#0b0f25b6;
}
h3{
    
    padding-bottom: 1rem;
    color:#263238;
    font-size:1.2rem;
    font-weight: bolder;
    
}
// @media (min-width: 576px) {  
//     .detail{
//     display: block;
// } }
