@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap');
.detail{
    background-color:#b7c4fd36;
    text-align: center;
    padding: 5% ;
    margin: 1%;
    flex-grow: 1;
}

.detail-number{
    padding:2%;
    color:#05092f;
    font-size: 1.75rem;
    font-weight: bolder;
    font-family: 'IBM Plex Mono', monospace;
}
.detail-icon{
    font-size: 3rem;
    color: #7586d1b6;
    text-align: center;
}
.detail-image{
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    object-fit: cover;

}
