
.grid{
    max-width: 90%;
    margin-left:auto;
    margin-right: auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #263238;
    margin:30px;
    box-sizing: border-box;
}

.paper{
    width: 100%;
    padding:1%;
    display: flex;
    // margin: 1rem;
}

@media (min-width: 576px) {  
    .paper{
    display: flex;
} }


