.container{
    margin:2%;
    margin-top: 4%;
    display:block;
}

.link-button{
    margin: 1rem;
    padding: 6px 20px;
}

h3, h4 {
    margin-bottom: 0.1rem;
    margin-top: 1rem;
    color: #263238;
    font-size: 1.2rem;
    font-weight: bolder;
}
.help-information{
    padding: 5%;
    width: 100%;
}
.button-section{
    display: flex;
}
p{
    color: #263238;

}
.order{
    margin: 2%;
}
@media (min-width: 768px) { 
    .container{
        // display: flex;
        }
   
}


// styles
.components{
    width: 100%;
    display: flex;
    padding:5%;
    
    

}

