*, p,h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   
}
.panel-information{
    color:  #263238;
    width: 50%;
    margin: 2rem;
    padding: 1rem;
}
textarea{
    padding: 3%;
    margin: 2%;
}