
.container{
    margin:2%;
    margin-top: 4%;
    display:block;
}

.help-information{
    padding: 5%;
    width: 70%;
}

h2, h3, h4 {
    padding-bottom: 1rem;
    color: #263238;
  
    font-weight: bolder;
}
p{
    color: #263238;

}
.help-information{
    padding: 5%;
}
.button-section{
    margin-top: 1rem;
}

.link-button{
    margin: 1rem;
    display: block;
}
.response{
    width: 70%;
    padding-left: auto;
    margin-right: auto;
    display: block;
}

h3, h4 {
    margin-bottom: 0.1rem;
    margin-top: 1rem;
    color: #263238;
    font-size: 1.2rem;
    font-weight: bolder;
}
