
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Righteous&display=swap');
// font-family: 'Lobster Two', cursive;
// font-family: 'Righteous', cursive;

.header{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display:inline-flex;

}
.header-title{
    //float: left;
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
   // padding-top: 1%;
   margin : 2%
    
}
.header-logo{
    width: 25%;
   // margin: auto;
    //display:block;

}
